body {
    background: #423c33;
}

.sintiarani_5026221044_foto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sintiarani_5026221044_foto img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
    margin-top: 55px;
}

.sintiarani_5026221044_header {
    margin: 0px;
    color: rgb(243, 147, 20);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-top: 14px;
    font-family: "Equitan Slab";
}

.sintiarani_5026221044_header2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: rgb(243, 147, 20);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.65;
}

.sintiarani_5026221044_header3 {
    margin: 0px;
    text-align: center;
    font-weight: 700;
    color: rgb(243, 147, 20);
    font-size: 20px;
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 16px;
}

.sintiarani_5026221044 {
    width: 670px;
    height: 50px;
    border: solid 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding-top: 10px;
    border-color: #de6515;
}

.sintiarani_5026221044 a {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.65;
    font-family: "Sanchez Niu";
    color: white;
    text-decoration: none;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    margin-top: 20px;
}

.sintiarani_5026221044 img {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    left: 4px;
    width: 46px;
    height: 46px
}

.sintiarani_5026221044:hover {
    background-color: #de6515;
}

.sintiarani_5026221044:hover a {
    color: #423a32;
}
.svg-container {
    position: absolute;
    top: 0;
    right: 0;
}
.social-icons-container {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sintiarani_5026221044_element{
    margin-top: 8px;
    fill: rgb(243, 147, 20);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.sintiarani_5026221044_element2{
    margin-top: 8px;
    fill: rgb(243, 147, 20);
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sintiarani_5026221044 {
    position: relative;
}
.titik_tiga{
    position: absolute; 
    top: 0; 
    right: 0;
    margin-top: 22px;
    margin-right: 17px;
    color: white;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}